
<v-container class="pt-5" style="max-width: 800px;">
    <v-layout row wrap>
            <v-flex xs12>

                    <v-card class="">

                            <v-card-title class="light-blue lighten-1">
                                <h2 class="headline mb-0 ml-2 pl-3 white--text">Reset Password</h2>
                            </v-card-title>

                            <v-card-text>
                                <v-container fluid>

                                    <v-layout row wrap>
                                        <v-flex xs12 md4>
                                            <v-subheader>Old Password:</v-subheader>
                                        </v-flex>
                                        <v-flex xs12 md8 pl-3>
                                            <v-text-field v-model="oldPassword" type="password" name="oldPassword" label="old password"
                                                data-vv-name="oldPassword"
                                                data-vv-delay="700"
                                                v-validate="'required|min:6|max:150'"
                                                :error-messages="errors.collect('oldPassword')">
                                            </v-text-field>
                                        </v-flex>
                                    </v-layout>

                                    <v-divider class="my-4 mx-5" style="max-width: 85%;"></v-divider>

                                    <v-layout row wrap>
                                            <v-flex xs12 md4>
                                                <v-subheader>New Password:</v-subheader>
                                            </v-flex>
                                            <v-flex xs12 md8 pl-3>
                                                <v-text-field v-model="newPassword" type="password" name="newPassword" label="new password"
                                                            data-vv-name="newPassword"
                                                            data-vv-delay="700"
                                                            v-validate="'required|min:6|max:150'"
                                                            :error-messages="errors.collect('newPassword')">
                                                </v-text-field>
                                            </v-flex>
                                    </v-layout>

                                    <v-layout row wrap>
                                            <v-flex xs12 md4>
                                                <v-subheader>Confirm New Password:</v-subheader>
                                            </v-flex>
                                            <v-flex xs12 md8 pl-3>
                                                <v-text-field v-model="confirmNewPassword" type="password" name="newPasswordConfirm" label="confirma new password"

                                                            data-vv-name="confirmNewPassword"
                                                            data-vv-delay="700"
                                                            v-validate="'required|confirmed:newPassword'"
                                                            :error-messages="errors.collect('confirmNewPassword')">
                                                </v-text-field>
                                            </v-flex>
                                    </v-layout>


                                </v-container>
                            </v-card-text>

                            <v-card-actions class="white pr-3 pb-3">
                                    <v-spacer></v-spacer>
                                    <v-btn round color="light-blue lighten-1 white--text" @click="resetPassword()" 
                                            :disabled=" errors.any() ||
                                            (fields.oldPassword?!fields.oldPassword.dirty:true) || (fields.newPassword?!fields.newPassword.dirty:true) ||  (fields.confirmNewPassword?!fields.confirmNewPassword.dirty:true)"
                                    >   Save
                                    </v-btn>
                            </v-card-actions>

                    </v-card>

                    <v-snackbar :timeout="4000" :bottom="true" v-model="toast">
                        {{ toastMessage }}
                        <v-btn flat color="pink" @click.native="toast = false">Close</v-btn>
                    </v-snackbar>

            </v-flex>
    </v-layout>
</v-container>
